::before,
::after,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(to right, rgb(47, 61, 85), rgb(47, 61, 85)); */
  background-image: -webkit-gradient(linear, left top, right top, from(#575757), to(#2f3d55));
  background-image: linear-gradient(to right, #575757, #2f3d55);
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #d8d8d8;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ---------------- LOADING SCREEN ---------------- */
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation: lds-default 1.2s linear infinite;
          animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@-webkit-keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  font-size: larger;
  z-index: 10;
  position: absolute;
  width: 100%;
}

/* ---------------- NAVIGATION ---------------- */
nav {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 3rem;
  background-color: #636464;
  z-index: 20;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  list-style: none;
}

nav a {
  color: #d8d8d8;
  text-decoration: none;
  margin: 1rem;
}

nav a:hover {
  /* border-bottom: solid 3px rgb(120, 138, 241); */
  border-bottom: solid 3px #2f5c6e;
  padding-bottom: 0.5rem;
}

.mobileBtnContainer {
  display: none;
}

@media screen and (max-width: 1085px) {
  .mobileBtnContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 10;
  }
  .mobileBtnLine1 {
    background-color: #d8d8d8;
    height: 3px;
    width: 35px;
    margin: 5px;
  }
  .mobileBtnLine2 {
    background-color: #d8d8d8;
    height: 3px;
    width: 35px;
    margin: 5px;
  }
  .mobileBtnLine3 {
    background-color: #d8d8d8;
    height: 3px;
    width: 35px;
    margin: 5px;
  }
  .navToggle {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
    width: 30vh;
    background-color: rgba(99, 100, 100, 0.932);
    border: solid 1px #d8d8d8;
    border-top: none;
    border-left: none;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  nav ul {
    display: unset;
    text-align: center;
    line-height: 5rem;
  }
  nav li {
    list-style: none;
  }
  nav a {
    color: #d8d8d8;
    text-decoration: none;
    margin: 0rem;
  }
  nav a:hover {
    border-bottom: none;
    padding-bottom: 0;
  }
}

/* ---------------- TOP PAGE ---------------- */
#top {
  height: 100vh;
}

.topText {
  width: 300px;
  padding-top: 7rem;
  margin-left: 7rem;
}

.topText h1 {
  font-size: 50px;
}

.topBackground {
  z-index: -20;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  opacity: 0.3;
}

.topDigitsContainer {
  width: 25%;
  height: 80%;
  position: absolute;
  right: 150px;
  top: 0;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
}

.topDigitsAnimation {
  -webkit-animation: topDigitsAnimationFrames 6s ease-in-out forwards;
          animation: topDigitsAnimationFrames 6s ease-in-out forwards;
  position: absolute;
  color: red;
  font-size: 24px;
  text-shadow: 0 0 7px red, 0 0 10px red, 0 0 21px red;
}

@-webkit-keyframes topDigitsAnimationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(70vh);
            transform: translateY(70vh);
  }
}

@keyframes topDigitsAnimationFrames {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(70vh);
            transform: translateY(70vh);
  }
}

.topDigitsContainer2 {
  width: 25%;
  height: 80%;
  position: absolute;
  right: 250px;
  top: -50px;
  -webkit-transform: rotate(136deg);
          transform: rotate(136deg);
}

.topDigitsAnimation2 {
  -webkit-animation: topDigitsAnimationFrames2 6s ease-in-out forwards;
          animation: topDigitsAnimationFrames2 6s ease-in-out forwards;
  position: absolute;
  color: red;
  font-size: 24px;
  text-shadow: 0 0 7px red, 0 0 10px red, 0 0 21px red;
}

@-webkit-keyframes topDigitsAnimationFrames2 {
  0% {
    opacity: 70vh;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes topDigitsAnimationFrames2 {
  0% {
    opacity: 70vh;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.topMoveDownCircle {
  position: absolute;
  bottom: 5vh;
  margin-left: 50%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.topMoveDownCircle a {
  color: rgba(216, 216, 216, 0.267);
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 1px rgba(216, 216, 216, 0.267);
  z-index: -5;
  -webkit-animation: circlePulse 3s ease-in-out infinite;
          animation: circlePulse 3s ease-in-out infinite;
}

@-webkit-keyframes circlePulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circlePulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 1085px) {
  .topText {
    width: 80%;
    padding-top: 3rem;
    margin-left: 0rem;
    margin: auto;
    text-align: center;
  }
  .topText h1 {
    font-size: 30px;
  }
  .topText h2 {
    font-size: 20px;
  }
  .topText p {
    font-size: 13px;
  }
  .topBackground {
    top: 50%;
    right: unset;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0.2;
  }
  .topDigitsContainer2 {
    display: none;
  }
  .topDigitsContainer {
    width: 50%;
    height: 20%;
    right: unset;
    top: 50%;
    left: 50%;
    -webkit-transform: rotate(0) translateX(-50%);
            transform: rotate(0) translateX(-50%);
  }
  .topDigitsAnimation {
    font-size: 14px;
  }
  @-webkit-keyframes topDigitsAnimationFrames {
    0% {
      opacity: 0;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(20vh);
              transform: translateY(20vh);
    }
  }
  @keyframes topDigitsAnimationFrames {
    0% {
      opacity: 0;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(20vh);
              transform: translateY(20vh);
    }
  }
  .topMoveDownCircle {
    -webkit-transform: translateX(-50%) scale(0.6);
            transform: translateX(-50%) scale(0.6);
  }
}

/* ---------------- ABOUT PAGE ---------------- */
#about {
  position: relative;
}

.aboutText {
  width: 330px;
  padding-top: 7rem;
  margin-left: 7rem;
}

.aboutText h1 {
  font-size: 50px;
}

.aboutBar {
  width: 600px;
  height: 2px;
  margin-left: 7rem;
  margin-top: 2rem;
  position: relative;
  background-color: rgba(216, 216, 216, 0.267);
}

.aboutAvatar {
  position: absolute;
  bottom: -30px;
  left: 320px;
  z-index: 1;
}

.aboutAvatar img {
  width: 200px;
}

.aboutBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to left, black, rgba(255, 255, 255, 0));
  z-index: -10;
}

.aboutTechSkills {
  position: absolute;
  top: 24%;
  right: 420px;
  margin: auto;
  z-index: -5;
  -webkit-animation: aboutRotateTech 40s linear infinite;
          animation: aboutRotateTech 40s linear infinite;
}

@-webkit-keyframes aboutRotateTech {
  0% {
    -webkit-transform: rotate(0deg) rotateZ(0deg);
            transform: rotate(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) rotateZ(360deg);
            transform: rotate(360deg) rotateZ(360deg);
  }
}

@keyframes aboutRotateTech {
  0% {
    -webkit-transform: rotate(0deg) rotateZ(0deg);
            transform: rotate(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) rotateZ(360deg);
            transform: rotate(360deg) rotateZ(360deg);
  }
}

.aboutTechSkills img {
  width: 80px;
}

.aboutTechSkills ul {
  margin: 0;
  list-style: none;
  font-size: 4vw;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: three-dimensions-circle 30s linear infinite;
          animation: three-dimensions-circle 30s linear infinite;
}

.aboutTechSkills li {
  position: absolute;
  top: 50%;
  left: 50%;
}

.aboutTechSkills li:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(0deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(0deg) translateY(-260px) rotateX(90deg);
}

.aboutTechSkills li:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(30deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(30deg) translateY(-260px) rotateX(90deg);
}

.aboutTechSkills li:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(60deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(60deg) translateY(-260px) rotateX(90deg);
}

.aboutTechSkills li:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(90deg) translateY(-260px) rotateX(90deg);
}

.aboutTechSkills li:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) rotate(120deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(120deg) translateY(-260px) rotateX(90deg);
}

.aboutTechSkills li:nth-child(6) {
  -webkit-transform: translate(-50%, -50%) rotate(150deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(150deg) translateY(-260px) rotateX(90deg);
}

.aboutTechSkills li:nth-child(7) {
  -webkit-transform: translate(-50%, -50%) rotate(180deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(180deg) translateY(-260px) rotateX(90deg);
}

.aboutTechSkills li:nth-child(8) {
  -webkit-transform: translate(-50%, -50%) rotate(210deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(210deg) translateY(-260px) rotateX(90deg);
}

.aboutTechSkills li:nth-child(9) {
  -webkit-transform: translate(-50%, -50%) rotate(240deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(240deg) translateY(-260px) rotateX(90deg);
}

.aboutTechSkills li:nth-child(10) {
  -webkit-transform: translate(-50%, -50%) rotate(270deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(270deg) translateY(-260px) rotateX(90deg);
}

.aboutTechSkills li:nth-child(11) {
  -webkit-transform: translate(-50%, -50%) rotate(300deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(300deg) translateY(-260px) rotateX(90deg);
}

.aboutTechSkills li:nth-child(12) {
  -webkit-transform: translate(-50%, -50%) rotate(330deg) translateY(-260px) rotateX(90deg);
          transform: translate(-50%, -50%) rotate(330deg) translateY(-260px) rotateX(90deg);
}

@-webkit-keyframes three-dimensions-circle {
  0% {
    -webkit-transform: rotateX(-100deg) rotate(0);
            transform: rotateX(-100deg) rotate(0);
  }
  100% {
    -webkit-transform: rotateX(-100deg) rotate(-360deg);
            transform: rotateX(-100deg) rotate(-360deg);
  }
}

@keyframes three-dimensions-circle {
  0% {
    -webkit-transform: rotateX(-100deg) rotate(0);
            transform: rotateX(-100deg) rotate(0);
  }
  100% {
    -webkit-transform: rotateX(-100deg) rotate(-360deg);
            transform: rotateX(-100deg) rotate(-360deg);
  }
}

@media screen and (max-width: 1085px) {
  .aboutTechSkills {
    display: none;
    left: unset;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 60%;
  }
  .aboutTechSkills img {
    width: 60px;
  }
  .aboutTechSkills div {
    width: 380px;
  }
  .aboutTechSkills li:nth-child(1) {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(0deg) translateY(-160px) rotateX(90deg);
  }
  .aboutTechSkills li:nth-child(2) {
    -webkit-transform: translate(-50%, -50%) rotate(30deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(30deg) translateY(-160px) rotateX(90deg);
  }
  .aboutTechSkills li:nth-child(3) {
    -webkit-transform: translate(-50%, -50%) rotate(60deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(60deg) translateY(-160px) rotateX(90deg);
  }
  .aboutTechSkills li:nth-child(4) {
    -webkit-transform: translate(-50%, -50%) rotate(90deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(90deg) translateY(-160px) rotateX(90deg);
  }
  .aboutTechSkills li:nth-child(5) {
    -webkit-transform: translate(-50%, -50%) rotate(120deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(120deg) translateY(-160px) rotateX(90deg);
  }
  .aboutTechSkills li:nth-child(6) {
    -webkit-transform: translate(-50%, -50%) rotate(150deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(150deg) translateY(-160px) rotateX(90deg);
  }
  .aboutTechSkills li:nth-child(7) {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(180deg) translateY(-160px) rotateX(90deg);
  }
  .aboutTechSkills li:nth-child(8) {
    -webkit-transform: translate(-50%, -50%) rotate(210deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(210deg) translateY(-160px) rotateX(90deg);
  }
  .aboutTechSkills li:nth-child(9) {
    -webkit-transform: translate(-50%, -50%) rotate(240deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(240deg) translateY(-160px) rotateX(90deg);
  }
  .aboutTechSkills li:nth-child(10) {
    -webkit-transform: translate(-50%, -50%) rotate(270deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(270deg) translateY(-160px) rotateX(90deg);
  }
  .aboutTechSkills li:nth-child(11) {
    -webkit-transform: translate(-50%, -50%) rotate(300deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(300deg) translateY(-160px) rotateX(90deg);
  }
  .aboutTechSkills li:nth-child(12) {
    -webkit-transform: translate(-50%, -50%) rotate(330deg) translateY(-160px) rotateX(90deg);
            transform: translate(-50%, -50%) rotate(330deg) translateY(-160px) rotateX(90deg);
  }
}

.aboutImagesGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  z-index: -1;
}

.aboutCell {
  overflow: hidden;
}

.aboutCell img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-filter: brightness(0.9) saturate(0.8);
          filter: brightness(0.9) saturate(0.8);
}

.aboutCell img:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

@media screen and (max-width: 770px) {
  .aboutText {
    width: 80%;
    padding-top: 3rem;
    margin-left: 0;
    margin: auto;
    text-align: center;
    padding-bottom: 3rem;
  }
  .aboutText h1 {
    font-size: 30px;
  }
  .aboutText p {
    font-size: 13px;
  }
  .aboutBar {
    display: none;
  }
  .aboutAvatar {
    display: none;
  }
  .aboutBackground {
    display: none;
  }
}

/* ---------------- PROJECTS PAGE ---------------- */
#projects {
  min-height: 100vh;
  background-color: #1f1d1d;
}

.projectsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
}

.projectsCards {
  width: 80%;
}

.cards {
  width: 100%;
  height: 150px;
  border: solid 1px #d8d8d8;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}

.cards h1 {
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  z-index: 10;
}

.cards:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#245), to(#2345));
  background-image: linear-gradient(#245, #2345);
}

.cardActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardActive a {
  border: solid 1px #d8d8d8;
  width: 100px;
  height: 52px;
  padding: 0.7rem;
  color: red;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: translateY(49px) translateX(100px);
          transform: translateY(49px) translateX(100px);
  opacity: 0;
  text-shadow: 0 0 7px red, 0 0 10px red, 0 0 21px red;
}

.cardActive .showLink {
  opacity: 1;
  -webkit-transform: translateY(49px) translateX(-50px);
          transform: translateY(49px) translateX(-50px);
}

.card {
  position: relative;
  width: 300px;
  height: 148px;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card img {
  opacity: 0;
}

.card .showCardImage {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 1;
}

.enlargeCard {
  width: 400px;
}

.cardTech {
  position: absolute;
  bottom: 0;
}

.cardTech img {
  width: 40px;
  opacity: 1;
}

.cardTechHide {
  opacity: 0;
}

@media screen and (max-width: 1550px) {
  .cards h1 {
    font-size: 30px;
  }
  .enlargeCard {
    width: 350px;
  }
}

@media screen and (max-width: 970px) {
  .cardActive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .cardActive a {
    position: absolute;
    right: 50px;
    background-color: #272525;
    z-index: 10;
    -webkit-transform: translateY(49px) translateX(0);
            transform: translateY(49px) translateX(0);
  }
  .cardActive .showLink {
    -webkit-transform: translateY(49px) translateX(0);
            transform: translateY(49px) translateX(0);
  }
}

@media screen and (max-width: 740px) {
  .cards {
    width: 100%;
    overflow: hidden;
  }
  .cards h1 {
    font-size: 20px;
    padding: 0.5rem;
  }
  .cards:hover h1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#08131f));
    background-image: linear-gradient(rgba(255, 255, 255, 0), #08131f);
  }
  .card {
    width: 100%;
  }
  .card img {
    width: 600px;
  }
  .enlargeCard {
    width: 100%;
  }
}

/* ---------------- CONTACT PAGE ---------------- */
#contact {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.contactBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1f1d1d), to(#7689ad));
  background-image: linear-gradient(#1f1d1d, #7689ad);
}

.contactText {
  width: 300px;
  padding-top: 7rem;
  margin-left: 7rem;
}

.contactText h1 {
  font-size: 50px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding-left: 7rem;
  height: 100%;
}

form label {
  margin-top: 1rem;
}

form input {
  padding: 1rem;
  outline: none;
  border: solid 1px rgba(216, 194, 194, 0.377);
  background-color: rgba(49, 140, 185, 0.11);
  color: #d8d8d8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

form textarea {
  height: 30%;
  outline: none;
  border: solid 1px rgba(216, 194, 194, 0.377);
  background-color: rgba(49, 140, 185, 0.11);
  color: #d8d8d8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 1rem;
}

form button {
  outline: none;
  border: solid 1px rgba(216, 194, 194, 0.377);
  background-color: rgba(49, 140, 185, 0.11);
  width: 200px;
  padding: 1rem;
  margin-top: 2rem;
  color: #d8d8d8;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */